*.o
bin/*
lib/etc/time
src/Makefile
syslog
config.cache
config.log
config.status
lib/plrobjs/*
src/.accepted
src/conf.h
src/util/Makefile
mudwho.html
mudwho.html.last
log/*
lib/etc/board.immort
lib/plralias
TAGS